.actor {
    margin-left: auto;
    margin-right: auto;
    height: 500px
}

.content {
    display: flex;
    flex-direction: column;
    background-color: rgb(38, 55, 55);
    width: auto;
    padding: 10px;
}

.container-for-card {
    display: flex;
    background-color: rgb(49, 60, 60);
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}

.container-for-info {
    text-align: center;
    background-color: rgb(49, 60, 60);
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    color: white;
}

.block {
    display: flex;
    flex-direction: column;
    background-color: rgb(38, 55, 55);
    border-radius: 5px;
    width: auto;
    margin: auto;
    padding: 10px;
}

data-bs-spy {
    position: relative;
}

.class-cards {
    width: 200px;
    height: 280px;
}

.card {
    width: 225px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
}
